@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url("https://use.typekit.net/iou5yrw.css");
html {
    font-size: 16pt;
    scroll-behavior: smooth;
}
h1,h2,h3,h4,a {
    font-family: kopius,serif;
    font-weight: 600;
    font-style: normal;
}
h5,h6,p,body {
    font-family: "Raleway", sans-serif;
}
img {
    max-width: 100%;;
}
body {
    margin:0;
    padding:0;
}
a {
    color: #D55A39;
    text-decoration:none;
    transition: .15s ease all;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 1.6;
}
h2 {
    color: #D55A39;
}

.content-container {
    padding-left: 45px;
    padding-right: 45px;
}
.bg-orange {
    background: #D55A39;
    color:white;
}
.bg-orange h2 {
    color:white;
}

.nav-list {
    list-style: none;
    display:flex;
    justify-content: space-around;
    margin-left:5%;
}
.btn {
    background: none;
    font-size: 1rem;
    border:none;
    padding: 12px 120px;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    transition: .15s ease all;
}
.btn:hover {
    text-decoration: none;
    cursor:pointer;
}
.btn-primary {
    background: #D55A39;
    color:white;
}
.btn-outline.white {
    color:white;
    border: 4px solid white;
    text-transform: uppercase;
}
.btn-outline.white:hover {
    color:#D55A39;
    background:white;
}
.ptb-l {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.mt-l {
    margin-top: 3rem;
}
.partner {
    margin-top: 4rem;
}
.align-right {
    text-align: right;
}
.form-field {
    margin: 30px 0px;
}
.logo {
    width:70%;
}
.partner-logo {
    max-width:60%;
}

.hand-container {
    display: none;
}
.hero {
    background:#D55A39;
}
.hero .img-container {
    text-align: center;
}
.hero img {
    max-height: 75vh;
}

#nav {
    background:white;
}
.relative {
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }
.scroll-down-link {
    color:white;
    padding: 0px 100px 60px;
    font-size: 1.75rem;
}
.white {
    color:white;
}
.form-field * {
    display: inline-block;
}
.form-field-label {
    margin-right: 10px;
    vertical-align: top;
    font-size:1.25rem;
    width:20%;
}
.form-field-input {
    height:20px;
    width: 60%;
    font-size:1rem;
    padding:8px;
}
.form-field textarea {
    height: 75px;
    width:60%;
    font-size:1rem;
    padding:8px;
}
.width-100 {
    width:100%;
}

@media (min-width: 1280px) {
    html {
        font-size: 1.5vw;
    }
    .content-container {
        padding-left: 120px;
        padding-right: 120px;
    }
    .bar-before {
        padding-left: 120px;
        position:relative;
    }
    .bar-before::before {
        content:"";
        display:block;
        height: 100%;
        width: 40px;
        background: #D55A39;
        position: absolute;
        left:0;
    }
    .grid-2 {
        display:flex;
    }
    .grid-2-item {
        width: 45%;
    }
    .grid-2-item.left {
        padding-right:5%;
    }
    .grid-2-item.right {
        padding-left:5%;
    }
    .partner-logo {
        max-width: 40%;
    }
    .hand-container {
        display:block;
        position: absolute;
        bottom:-6px;
        left:0;
        max-width: 800px;
    }
    .hand-mock {
        margin:20vh 0px;
    }
}